.first{
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #fcf6f1;
    gap: 2rem;

    .soon{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #ef4135;
        border-radius: 30px;
        width: 150px;
        height: 30px;
        gap: 0.5rem;
        background-color: #fbcbc8;
    }
    h1{
        font-size: 4rem;
        font-weight: 700;
    }
    ul{
        display: flex;
        gap: 3rem;
        font-size: 1.5rem;
        color: #6b7280;
        font-family: 'Playfair Display', serif;
    }
    p{
        font-size: 1.2rem;
        text-align: center;
        color: #6b7280;
    }
}

.second{
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #ffffff;
    gap: 2rem;

    .title{
        h3{
            font-size: 2rem;
            font-weight: 700;
            text-align: center;
        }
        p{
            font-size: 1.2rem;
            color: #6b7280;
            text-align: center;
        }
    }
    .items{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 2rem;
        width: 100%;
        
    
        .icon{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #ef4135;
            display: flex;
            justify-content: center;
            align-items: center;

            .itemIcon{
                font-size: 2rem;
                color: #ffffff;
            }
        }
        .card{
            width: 350px;
            height: 250px;
            border-radius: 10px;
            border: 1px solid #ef4135;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            padding: 7px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: transform 0.3s ease;
            
            &:hover{
                transform: scale(1.1);
            }

            h4{
                font-size: 1.5rem;
                font-weight: 700;
            }
            p{
                width: 90%;
                color: #6b7280;
            }

        }
        

    }
}